//footer starts from here
footer {

    
    margin-top: 76px;
    position: relative;


    @media (max-width:990px) {
        
        .footer_logo {
            display: flex;
            justify-content: center;
        }
    }


    .footer-bottom {
        margin-top: 57px;
        padding: 24px 0 5px 0;
        background-color: #090a0d;
        width: 100%;

        @media (max-width:768px) {
            padding: 25px;
        }

        p {
            color: #707781;
            margin-bottom: 1rem;
            font-family: Poppins,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
        }

    }

@media (max-width:768px) {
    margin-top: 0px;
}


    .footer_cont {
        padding: 57px 0 0px 0;
      
        

        img {
            width: 200px;
        }

@media (max-width:990px) {
    flex-direction: column;
    align-items: center;
}




        .footer_ul {
            list-style: none;
            margin: 20px 0px 0px 0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;

@media (max-width:990px) {
    
    justify-content: center;
    align-items: center;

}


            p {  color: #fefefe; font-family: Poppins,sans-serif;
                font-weight: 400;
                font-size: 12px;}

            .footer-column-title {

                font-weight: 700;
                font-size: 14px;
                line-height: 27px;
                margin-bottom: 15px;
                color: #fff;
            }

            @media (max-width:768px) {
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }

          
            li { float: left; 
            
                a { 
                    color: #707781;
                    line-height: 24px;
                    text-decoration: none;
                    transition: color .3s ease-in-out;
                    font-family: Poppins,sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                }
            }
            li:first-child { padding-left: 0px;}
        }
    }

    .social { display: flex; 

        a {
justify-content: center;
width: 20px;
height: 20px;
background: $theme_colC;
border-radius: 4px;
transform: rotate(45deg);
margin-right: 15px;
transition: all .2s ease-in-out;
position: relative;

            img {
                    transform: rotate(-45deg);
                    width: 12px;
                    position: absolute;
                    top: 4px;
                    left: 4px;
            }
        }

        .footer_ul {
            display: flex;
        }

        @media (max-width:990px) {

        margin-top: 20px;        

        }

        p {
            font-family: Poppins,sans-serif;
            font-weight: 400;
            font-size: 12px;
            color: #fefefe;
        }

    a {
        // float: left;
        // padding-right: 15px;
        transition: all .2s ease-in-out;
        font-size: 40px;

        &:hover {
            transform: scale(1.5);
            transform: rotate(57deg);
        }
    }

}
}

.footer_border {
    height: 2px;
    background: #23282f;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.footer_border2 {
    height: 2px;
    background: #23282f;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
